/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 2, 71, 49;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.landing-background {
  background-image: url("https://github.com/code-autonomy/manoa-club-connect/blob/main/app/public/images/campuscenter.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.carousel-item-container {
  border: 2px black solid;
  outline: 2px black solid;
  outline-offset: -10px;
  height: 500px;
  background-color: white;
  opacity: 0.9; /* corrected from 90% */
}

@media only screen and (max-width: 1200px) {
  .carousel-item-container {
    overflow-y: auto;
    max-height: 450px;
  }
}

hr.underline {
  color: black;
  background-color: black;
  height: 1px;
  border: none;
}

.btn-sign {
  color: ghostwhite !important;
  background-color: darkgreen !important;
  border: 2px solid black !important;
  opacity: 1; /* corrected from 100 */
}

.icon-green {
  color: darkgreen;
  font-size: 200px;
}

.image-circle {
  border: 2px solid black !important; /* corrected */
  border-radius: 50%;
  width: 150px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  align-items: center; /* corrected from align-content */
  width: 70px !important;
  height: 70px !important;
  background-color: darkgreen;
  border: 2px solid black;
  border-radius: 50%; /* unified border radius */
}

.signin-bg {
  background: ghostwhite;
  position: absolute;
  height: 90vh;
  width: 100%;
  padding: 0;
  transform: translate(12px, 0);
}

.signin-text {
  position: relative;
  top: 10%;
}

.sign-in-left {
  background: linear-gradient(to bottom right, rgba(41,173,178,0.75), rgba(0,64,0,0.75));
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}

.sign-in-left h2 { /* corrected */
  margin-top: 100px;
  color: whitesmoke;
}

.sign-in-right {
  background: linear-gradient(to bottom right, rgba(41,173,178,0.75), rgba(0,64,0,0.75));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
}

.gradient-up-blue {
  background: linear-gradient(to bottom, rgba(41,173,178,0.5), rgba(0,0,0,0));
  border-top: 1px solid black;
}

.gradient-down-green {
  background: linear-gradient(to top, rgba(0,64,0,0.5), rgba(0,0,0,0));
  border-bottom: 1px solid black;
}

.card-login {
  width: 350px;
  position: absolute;
  top: 10%;
  box-shadow: 2px 5px 5px black;
}

#signin-form-submit .btn {
  background: darkgreen;
  border: none;
  width: 100%;
  margin-top: 1rem;
}

#signin-alert {
  font-size: 1rem;
  width: 300px;
}

.conic-bg {
  background: conic-gradient(
      rgba(41,173,178,0.75),
      rgba(0,64,0,0.75),
        /*rgba(21,119,89,0.75)*/
      rgba(41,173,178,0.75)
  );
  height: 90vh;
}

.profile-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to 100% of viewport height */
}

.profile-frame > .container {

    border: 2px solid #ccc; /* Add border around the container */
    padding: 20px;
    border-radius: 10px; /* Add border-radius for rounded corners */

  border: 2px solid #ccc; /* Add border around the container */
  padding: 50px;
  border-radius: 10px; /* Add border-radius for rounded corners */
}
#signout-page {
  background-image: url('/images/sign_out_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}